*.zip
*.gdb
*.lock
*.dlpk
.vscode/settings.json
.vscode/launch.json
Dados
Input
Output
*.safe
*.jp2
*.ipynb
*.shp
*.dbf
*.shx
*.xml
*.csv
*.sbx
*.sbn
*.prj
*.cpg
env
temp
downloads
__pycache__
*.pyc
*.log