[run]
branch = True
include =
        ./*
omit =
        *python_modules*
        *tests*
        load_data.py
        service/route_schedule.py
        *__init__*        
[report]
exclude_lines =
    if __name__ == .__main__.: